[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
vk-bot = {editable = true, path = "."}
pytest = "*"
pytest-mock = "*"

[packages]
six = "*"
vk-client = {git = "https://github.com/suenweek/vk-client", editable = true}
