[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
vk-bot = {editable = true, path = "."}
pytest = "*"
pytest-mock = "*"

[packages]
vk-client = "*"

[requires]
python_version = "3.7"
